body {
  padding-top: 70px;
}

.cuadro_intro_hover {
  padding: 0px;
  position: relative;
  overflow: hidden;
  width: 225px;
  height: 320px;
}

.cuadro_intro_hover:hover .caption {
  opacity: 1;
  transform: translateY(-260px);
  -webkit-transform: translateY(-260px);
  -moz-transform: translateY(-260px);
  -ms-transform: translateY(-260px);
  -o-transform: translateY(-260px);
}

.cuadro_intro_hover img {
  z-index: 4;
}

.cuadro_intro_hover .caption {
  position: absolute;
  top: 260px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 100%;
}

.cuadro_intro_hover .blur {
  background-color: rgba(0, 0, 0, 0.7);
  height: 320px;
  z-index: 5;
  position: absolute;
  width: 100%;
}

.cuadro_intro_hover .caption-text {
  z-index: 10;
  color: #fff;
  position: absolute;
  height: 320px;
  text-align: center;
  top: -20px;
  width: 100%;
  line-height: 1.2;
}