<head>
  <title>test-bootstrap</title>
</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Yet Another Watch List</a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a>
        </li>
        <li class=""><a href="#">My watchlist</a>
        </li>
        <li class=""><a href="#">Database</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{> loginButtons}}
        <!-- here -->
      </ul>
    </div>
  </nav>

  <div class="container-fluid">

    <!--left-->
    <div class="col-sm-3">
      <h2></h2> {{> insertAnimeForm}}
      <hr>
      <div class="panel panel-default">
        <div class="panel-heading">Title</div>
        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis nisi. Sed ac orci quis
          tortor imperdiet venenatis. Duis elementum auctor accumsan. Aliquam in felis sit amet augue.</div>
      </div>
      <hr>
      <div class="panel panel-default">
        <div class="panel-heading">Title</div>
        <div class="panel-body">Content here..</div>
      </div>
      <hr>
    </div>
    <!--/left-->

    <!--center-->
    <div class="col-sm-6">

      <h2></h2>


      <div class="row">
        {{#each animes}}
        <div class="col-md-4">
          {{> animeOverview}}
        </div>
        {{/each}}
        <div class="col-xs-12">
          <h2>Article Heading</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis nisi. Sed ac orci quis
            tortor imperdiet venenatis. Duis elementum auctor accumsan. Aliquam in felis sit amet augue.</p>
          <p class="lead">
            <button class="btn btn-default">Read More</button>
          </p>
          <p class="pull-right">
            <span class="label label-default">keyword</span>
            <span class="label label-default">tag</span>
            <span class="label label-default">post</span>
          </p>
          <ul class="list-inline">
            <li><a href="#">2 Days Ago</a>
            </li>
            <li><a href="#"><i class="glyphicon glyphicon-comment"></i> 2 Comments</a>
            </li>
            <li><a href="#"><i class="glyphicon glyphicon-share"></i> 14 Shares</a>
            </li>
          </ul>
        </div>
        <div class="col-xs-12">
          <h2>Article Heading</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis nisi. Sed ac orci quis
            tortor imperdiet venenatis. Duis elementum auctor accumsan. Aliquam in felis sit amet augue.</p>
          <p class="lead">
            <button class="btn btn-default">Read More</button>
          </p>
          <p class="pull-right">
            <span class="label label-default">keyword</span>
            <span class="label label-default">tag</span>
            <span class="label label-default">post</span>
          </p>
          <ul class="list-inline">
            <li><a href="#">4 Days Ago</a>
            </li>
            <li><a href="#"><i class="glyphicon glyphicon-comment"></i> 7 Comments</a>
            </li>
            <li><a href="#"><i class="glyphicon glyphicon-share"></i> 56 Shares</a>
            </li>
          </ul>
        </div>
        <div class="col-xs-12">
          <h2>Article Heading</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis nisi. Sed ac orci quis
            tortor imperdiet venenatis. Duis elementum auctor accumsan. Aliquam in felis sit amet augue.</p>
          <p class="lead">
            <button class="btn btn-default">Read More</button>
          </p>
          <p class="pull-right">
            <span class="label label-default">keyword</span>
            <span class="label label-default">tag</span>
            <span class="label label-default">post</span>
          </p>
          <ul class="list-inline">
            <li><a href="#">1 Week Ago</a>
            </li>
            <li><a href="#"><i class="glyphicon glyphicon-comment"></i> 4 Comments</a>
            </li>
            <li><a href="#"><i class="glyphicon glyphicon-share"></i> 34 Shares</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--/center-->

    <!--right-->
    <div class="col-sm-3">
      <h2>Side</h2>
      <div class="panel panel-default">
        <div class="panel-heading">Title</div>
        <div class="panel-body">Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. Aliquam in felis sit amet augue.</div>
      </div>
      <hr>
      <div class="panel panel-default">
        <div class="panel-heading">Title</div>
        <div class="panel-body">Content here..</div>
      </div>
      <hr>
      <div class="panel panel-default">
        <div class="panel-heading">Title</div>
        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis nisi. Sed ac orci quis
          tortor imperdiet venenatis. Duis elementum auctor accumsan. Aliquam in felis sit amet augue.</div>
      </div>
      <hr>
      <div class="panel panel-default">
        <div class="panel-heading">Title</div>
        <div class="panel-body">Content here..</div>
      </div>
      <hr>
    </div>
    <!--/right-->
    <hr>
  </div>
  <!--/container-fluid-->
</body>

<template name="_loginButtonsAdditionalLoggedInDropdownActions">
  <button class="btn btn-default btn-block" id="login-buttons-edit-profile">Edit profile</button>
</template>

<template name="insertAnimeForm">
  {{#autoForm collection="Animes" id="insertAnimeForm" type="insert"}}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Add an anime</h3>
    </div>
    <div class="panel-body">
      <fieldset>
        {{> afQuickField name='title' placeholder="schemaLabel"}} {{> afQuickField name='episodes' placeholder="schemaLabel"}} {{> afQuickField name='summary' rows=6 placeholder="schemaLabel"}} {{> afQuickField name='type' options="allowed" placeholder="schemaLabel"}}
        {{> afQuickField name='genres' options="allowed" }} {{> afQuickField name='coverUrl' placeholder="Url for cover image"}} {{> afQuickField name='year' placeholder="Year"}}
      </fieldset>
      <button type="submit" class="btn btn-primary pull-right">Add anime</button>
    </div>
  </div>
  {{/autoForm}}
</template>

<template name="animeOverview">
  <div class="cuadro_intro_hover " style="background-color:#cccccc;">
    <p style="text-align:center;">
      <img src="{{coverUrl}}" style="width: 100%" class="img-responsive" alt="">
    </p>
    <div class="caption">
      <div class="blur"></div>
      <div class="caption-text">
        <h3 style="border-bottom:1px solid gray">{{title}}</h3>
        <p>{{summary}}</p>
        <a class=" btn btn-default" href="#"><span class="glyphicon glyphicon-plus"> INFO</span></a>
      </div>
    </div>
  </div>
</template>